<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QuanLyKhoEntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UHV32C9\TLMSQL;initial catalog=QuanLyKho;user id=sa;password=asdqwe@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyKhoKteamEntities" connectionString="metadata=res://*/Model.Model2.csdl|res://*/Model.Model2.ssdl|res://*/Model.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UHV32C9\TLMSQL;initial catalog=QuanLyKhoKteam;persist security info=True;user id=sa;password=asdqwe@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyKhoKteamEntities1" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UHV32C9\TLMSQL;initial catalog=QuanLyKhoKteam;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyKhoKteamEntities2" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UHV32C9\TLMSQL;initial catalog=QuanLyKhoKteam;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>